{% extends 'base.html.twig' %}

{% block title %}Test Blog{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title is-3">{{ post.title }}</h1>
        <p>{{ post.content }}</p>
        <br>
        <a href="index.php?author={{ post.author }}">{{ post.author }}</a>
        <br>
        {% for tag in post.tags %}
            <a href="index.php?tag={{ tag|trim }}">{{ tag }}</a> &nbsp;
        {% endfor %}
    </div>
{% endblock %}