{% extends 'base.html.twig' %}

{% block title %}Test Blog{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title is-3">{{ post.title }}</h1>
        <p>{{ post.content }}</p>
        <br>
        <a href="index.php?author={{ post.author }}">{{ post.author }}</a>
        <br>
        <a href="">{{ post.tags }}</a>
    </div>
{% endblock %}